<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="~/js/scripts.js"></script>
  <title>Address Book</title>
</head>

<body>
  <div class="container">
    <div class="banner">
      <h1>(your name here)'s Address Book!</h1>
    </div>
    <div class="showAll">
      <p>All Available Contacts</p>
      <div class="showAllBox">
        @foreach (var contact in Model) {
        <div class="contact">
          <p>@contact.GetName()</p>
          <p>@contact.GetNumber()</p>
          <p>@contact.GetAddress()</p>
          <form class="" action="/remove/@contact.GetId()" method="post">
            <input type="hidden" name="removeOne" value="@contact.GetId()">
            <button type="submit" name="removeOneButton">Delete Contact</button>
          </form>
        </div>
        }
        <form class="" action="/clear" method="post">
          <button type="submit" action="/clearAll" name="clearAll">Clear ALL Contacts</button>
        </form>
      </div>
    </div>
    <div class="makeNew">
      <div class="makeNewBox">
        <label for="makeNew">Create New Contact</label>
        <form class="makeNew" action="/make" method="post">
          <input type="text" name="newName" value="" placeholder="Enter Name"><br>
          <input type="text" name="newAddress" value="" placeholder="Enter Address"><br>
          <input type="number" name="newNumber" value="" placeholder="Enter Phone#"><br>
          <button type="submit" name="makeNewButton">Submit New Contact</button>
        </form>
      </div>
    </div>


  </div>
</body>

</html>
